Source: chapel-1.15
Section: devel
Priority: optional
Maintainer: Ben Albrecht <balbrecht@cray.com>
Build-Depends:
 debhelper (>= 10),
 python
Standards-Version: 3.9.8
Homepage: http://chapel.cray.com/
Vcs-Git: https://github.com/chapel-lang/chapel-packaging.git
Vcs-Browser: https://github.com/chapel-lang/chapel-packaging

Package: chapel-1.15
Architecture: any
Depends:
 ${misc:Depends},
 chapel-common-1.15,
 chapel-compiler-minimal-1.15,
 chapel-runtime-minimal-1.15
Suggests: chapel-doc-1.15
Description: productive parallel computing
 Chapel is an emerging programming language designed for productive parallel
 computing at scale.
 .
 Chapel's design and implementation have been undertaken with portability in
 mind, permitting Chapel to run on multicore desktops and laptops, commodity
 clusters, and the cloud, in addition to the high-end supercomputers for which
 it was designed. Chapel's design and development are being led by Cray Inc.
 in collaboration with academia, computing centers, and industry.
 .
 This package is a metapackage that installs a minimal version of the
 compiler and runtime.

Package: chapel-common-1.15
Architecture: all
Depends:
 ${misc:Depends},
 python:any (<< 2.8), python:any (>= 2.7~),
Description: productive parallel computing (common files)
 Chapel is an emerging programming language designed for productive parallel
 computing at scale.
 .
 Chapel's design and implementation have been undertaken with portability in
 mind, permitting Chapel to run on multicore desktops and laptops, commodity
 clusters, and the cloud, in addition to the high-end supercomputers for which
 it was designed. Chapel's design and development are being led by Cray Inc.
 in collaboration with academia, computing centers, and industry.
 .
 This package contains Chapel modules and scripts supporting compilation.

Package: chapel-compiler-minimal-1.15
Architecture: any
Provides: chpl-compiler-1.15
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python:any (<< 2.8), python:any (>= 2.7~),
 build-essential
Description: productive parallel computing (minimal compiler)
 Chapel is an emerging programming language designed for productive parallel
 computing at scale.
 .
 Chapel's design and implementation have been undertaken with portability in
 mind, permitting Chapel to run on multicore desktops and laptops, commodity
 clusters, and the cloud, in addition to the high-end supercomputers for which
 it was designed. Chapel's design and development are being led by Cray Inc.
 in collaboration with academia, computing centers, and industry.
 .
 This package provides a minimal version of the Chapel compiler that does not
 include LLVM integration. It functions by generating C code and then
 running the system C compiler.

# TODO: chapel-compiler-llvm
#Package: chapel-compiler-llvm
#Architecture: any
#Provides: chpl-compiler
#Depends:
# ${shlibs:Depends},
# ${misc:Depends},
# python:any (<< 2.8), python:any (>= 2.7~),
# llvm-3.7,
# dh-python
# Description: Compiler for the Chapel programming language with LLVM support
# Chapel is an emerging programming language designed for productive parallel
#  computing at scale.
#  .
#  Chapel's design and implementation have been undertaken with portability in
#  mind, permitting Chapel to run on multicore desktops and laptops, commodity
#  clusters, and the cloud, in addition to the high-end supercomputers for which
#  it was designed. Chapel's design and development are being led by Cray Inc.
#  in collaboration with academia, computing centers, and industry.
#  .
#  This package provides a verios

Package: chapel-runtime-minimal-1.15
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: productive parallel computing (minimal runtime)
 Chapel is an emerging programming language designed for productive parallel
 computing at scale.
 .
 Chapel's design and implementation have been undertaken with portability in
 mind, permitting Chapel to run on multicore desktops and laptops, commodity
 clusters, and the cloud, in addition to the high-end supercomputers for which
 it was designed. Chapel's design and development are being led by Cray Inc.
 in collaboration with academia, computing centers, and industry.
 .
 This package provides a minimal "quickstart" version of the Chapel runtime.

# TODO: chapel-runtime not minimal
#Package: chapel-runtime
#Architecture: any
#Depends:
# ${shlibs:Depends},
# ${misc:Depends},
#Description: productive parallel computing 
# Chapel is an emerging programming language designed for productive parallel
# computing at scale.
# .
# Chapel's design and implementation have been undertaken with portability in
# mind, permitting Chapel to run on multicore desktops and laptops, commodity
# clusters, and the cloud, in addition to the high-end supercomputers for which
# it was designed. Chapel's design and development are being led by Cray Inc.
# in collaboration with academia, computing centers, and industry.
# .
# This package provides a the standard single-locale version of the Chapel
# runtime.

Package: chapel-doc-1.15
Architecture: all
Section: doc
Depends: ${misc:Depends},
Suggests: chapel-1.15
Description: productive parallel computing (documentation)
 Chapel is an emerging programming language designed for productive parallel
 computing at scale.
 .
 Chapel's design and implementation have been undertaken with portability in
 mind, permitting Chapel to run on multicore desktops and laptops, commodity
 clusters, and the cloud, in addition to the high-end supercomputers for which
 it was designed. Chapel's design and development are being led by Cray Inc.
 in collaboration with academia, computing centers, and industry.
 .
 This package includes Chapel documentation.
