#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	bash -c 'source util/quickstart/setchplenv.bash ; dh $@ --parallel'

override_dh_auto_test:
	bash -c 'source util/quickstart/setchplenv.bash ; $(MAKE) check'

override_dh_auto_configure:
	bash -c 'source util/quickstart/setchplenv.bash ; bash ./configure --prefix=/usr'
# Clean up some files that arguably shouldn't be in the release
# examples: let it contain .chpl, README files only
# README.testing is removed because we removed the other testing files
	find examples/ -name '*.chpl' -o -name 'README*' -and -not -name README.testing | tar cvzf examples.tgz --files-from -
	rm -Rf examples
	tar xvzf examples.tgz
	rm -Rf examples.tgz
# util/chplenv/template is for developers
	rm -f util/chplenv/template


# This would prevent parallel builds 
#override_dh_auto_build:
#	bash -c 'source util/quickstart/setchplenv.bash ; $(MAKE)'

#override_dh_auto_install:
#	mkdir -p usr
#        dh_auto_install
#	#bash -c 'source util/quickstart/setchplenv.bash ; $(MAKE) DESTDIR=$(DESTDIR) install'
#
override_dh_auto_clean:
	dh_auto_clean -- clobber
