#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export CHPL_LIB_GMP=system

%:
	dh $@ --with python2

override_dh_auto_test:


override_dh_auto_clean:
	dh_auto_clean -- clobber

override_dh_auto_build:
	dh_auto_build --parallel
